{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="{% static 'css/contraseña.css' %}">
</head>
<body>
  <div class="wrapper">
    <form id="forgotPasswordForm" action="#">
      <h2>Recuperar Contraseña</h2>
      <div class="input-field">
        <input type="text" id="email" required>
        <label for="email">Ingresa tu email</label>
      </div>
      <button type="submit">Recuperar</button>
    </form>
  </div>
  <script src="JS/validaciones.js"></script>
</body>
</html>
